html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font: normal 12px Arial, sans-serif;
}

a {
  color: #DF8A2A;
  text-decoration: none;
}

a:hover {
  color: red;
}

.app {
    height: 100%;
}

.app__menu {
    position: fixed;
    height: 100%;
    width: 150px;
    background: #26272B;
}

.app__menu a {
  display: block;
  color: #6D6E77;
  width: 100%;
}

.app__list {
  padding: 0;
  margin: 0;
}

.app__header,
.app__list-header,
.app__list-item {
  display: block;
  font-weight: bold;
  color: #3C3D41;
  padding: 10px 10px;
  font-size: 1em;
}

.app__list-header {
  margin: 0;
  color: #3C3D41;
}

.app__list-item {
  cursor: pointer;
  padding-left: 30px;
}

.app__list-item:hover {
  background: #201F24;
}

.app__list-item_active .app__link {
  color: #546fff;
}

.app__header {
  font-size: 1.2em;
}

.app__content {
    width: 100%;
    padding: 20px;
    padding-left: 170px;
    box-sizing: border-box;
}
